*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.header {
  background-image: url(/img/headerBG.png);
  height: 100vh;
  background-size: cover;
  position: relative; }
  .header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4.5rem 10rem; }

.navlinks__links {
  list-style: none; }
  .navlinks__links__item {
    display: inline-block;
    padding: 0 3rem;
    font-family: 'Ubuntu', sans-serif; }

.link {
  font-size: 1.6rem;
  color: white;
  text-transform: uppercase;
  text-decoration: none; }

.academy-logo {
  width: 9rem;
  transition: all .5s ease-out; }
  .academy-logo__img {
    width: 100%;
    cursor: pointer; }

.academy-logo:hover {
  transform: translateY(-5px) scale(1.1); }

.logotext {
  transform: translateX(-15rem); }
  .logotext__line1 {
    display: block;
    color: white;
    font-size: 2.3rem;
    font-family: 'Ubuntu', sans-serif; }
  .logotext__line2 {
    display: inline-block;
    color: white;
    font-size: 2.3rem;
    font-family: 'Ubuntu', sans-serif; }

.welcome_text {
  font-family: 'Ubuntu', sans-serif;
  color: #f7f7f7;
  margin-left: 11rem;
  margin-top: 9rem;
  letter-spacing: 3px;
  word-spacing: 7px;
  line-height: 1.4;
  font-size: 1.7rem; }

.btn-bordered {
  position: absolute;
  top: 57rem;
  left: 11rem; }

.explore_more_btn {
  text-decoration: none;
  border-bottom: 3.2px solid #2d679e;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: 'Hammersmith One' , sans-serif;
  border-radius: .8rem;
  transition: all .5s;
  padding: 5px 7px 2px 7px; }

.explore_more_btn:hover {
  background-color: #2d679e;
  color: #000; }
