.container {
  margin: 0 2rem;
  padding: 0 2rem;
  width: 80%;
  margin: 10rem auto; }

.all {
  display: flex;
  height: 100%; }

.cl-1 {
  object-fit: cover;
  height: 40%;
  margin: 2rem; }

.heading_h2 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 3.5rem;
  text-transform: uppercase;
  text-align: center;
  background-image: linear-gradient(-20deg, #00c7a9, #313b47);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 0.3rem 0.7rem 0.8rem rgba(0, 0, 0, 0.4); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: #E4E6EB; }

.header {
  background-image: url(/img/headerBG.png);
  height: 100vh;
  background-size: cover;
  position: relative; }
  .header__navbar {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    padding: 4.5rem 4.5rem;
    min-width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    z-index: 9999; }
  @media only screen and (max-width: 1430px) {
    .header .logotext {
      font-size: 1.3rem; } }

.academy-logo {
  width: 9rem;
  transition: all .5s ease-out; }
  .academy-logo__img {
    width: 100%;
    cursor: pointer; }

.academy-logo:hover {
  transform: translateY(-5px) scale(1.1); }

.logotext-click {
  text-decoration: none; }
  .logotext-click .logotext {
    transform: translateX(-15rem);
    font-family: 'Arial', sans-serif; }
    .logotext-click .logotext__line1 {
      display: block;
      color: rgba(255, 250, 240, 0.891);
      font-size: 2.3rem; }
    .logotext-click .logotext__line2 {
      display: inline-block;
      color: rgba(255, 250, 240, 0.891);
      font-size: 2.3rem; }
  .logotext-click:hover {
    color: floralwhite;
    text-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2); }
  .logotext-click:active {
    text-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.3);
    transform: translateY(0.4px); }

.navlinks__links {
  list-style: none;
  color: black; }
  .navlinks__links li {
    display: inline-block;
    font-family: 'Ubuntu', sans-serif; }
  .navlinks__links li:not(:last-child) {
    margin-right: .5rem; }
  .navlinks__links .active {
    background-image: linear-gradient(-60deg, #1fa48c, #167a64, #0f645a);
    border-radius: 3px;
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.2); }
  .navlinks__links a {
    font-size: 1.6rem;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 2rem; }
    .navlinks__links a:hover, .navlinks__links a::after, .navlinks__links a::before {
      background-image: linear-gradient(-60deg, #1fa4bb, #167a8b, #0f6474);
      border-radius: 3px;
      box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.2); }
    .navlinks__links a:active {
      transform: translateY(2px);
      background-image: linear-gradient(-60deg, #1fa48c, #167a64, #0f645a);
      border-radius: 3px;
      box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.4); }

.welcome_text {
  font-family: 'Roboto', sans-serif;
  color: #f7f7f7;
  position: absolute;
  top: 40%;
  left: 23%;
  transform: translate(-26%, 0);
  font-size: 1.7rem; }
  .welcome_text .academyName {
    word-spacing: 0.7rem;
    line-height: 1.4;
    color: #BBD2C5; }
  .welcome_text .slogan-Hindi {
    display: inline-block;
    font-family: 'Hind', sans-serif;
    margin-top: 2rem;
    word-spacing: 1rem;
    letter-spacing: 0.2rem;
    background-image: linear-gradient(-70deg, #BBD2C5, #6dd5ed);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.4); }

.button-bordered {
  position: absolute;
  bottom: 25%;
  left: 15%; }

.explore_more_btn {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: .8rem;
  padding: 5px 7px 2px 7px;
  border-bottom: 3.2px solid #2d679e;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.2);
  transition: all .5s; }

.explore_more_btn:hover {
  background-color: #2d679e;
  color: #000;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 4.2px; }
  .explore_more_btn:hover:active {
    background-color: #295e91;
    border-radius: 3px;
    box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.35); }

.Rank {
  width: 70%; }

.container-rankHolder {
  position: relative; }
  .container-rankHolder .filtter-shadow {
    filter: drop-shadow(0.15rem 0.8rem 1rem rgba(0, 0, 0, 0.2)); }
  .container-rankHolder .rank-holders {
    width: 38vw;
    height: 15rem;
    margin-bottom: 10rem;
    background-image: linear-gradient(to right bottom, #bfacc9, #b89fc4);
    position: relative; }
    .container-rankHolder .rank-holders--1 {
      transform: skew(-15deg); }
      .container-rankHolder .rank-holders--1 img {
        margin-left: 7rem;
        width: 150px;
        position: absolute;
        top: 0%;
        left: 0%;
        transform: skew(15deg); }
      .container-rankHolder .rank-holders--1 .details--1 {
        transform: skew(15deg) translateY(-50%);
        position: absolute;
        top: 50%;
        left: 27rem; }
        .container-rankHolder .rank-holders--1 .details--1 .name--1 {
          font-family: 'Cookie', cursive;
          font-size: 3.7rem;
          letter-spacing: 2.5px;
          color: #0066a5;
          font-weight: 500;
          text-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, 0.3); }
        .container-rankHolder .rank-holders--1 .details--1 .belt--1 {
          font-family: 'Exo 2', sans-serif;
          font-size: 1.7rem;
          font-weight: 300; }
        .container-rankHolder .rank-holders--1 .details--1 .rank--1 {
          font-family: 'Exo 2', sans-serif;
          font-size: 1.7rem;
          font-weight: 300;
          letter-spacing: 2px;
          margin-top: -10px; }
    .container-rankHolder .rank-holders--2 {
      left: 40%;
      transform: skew(-15deg); }
      .container-rankHolder .rank-holders--2 img {
        margin-right: 10rem;
        width: 150px;
        position: absolute;
        top: 0%;
        right: 0%;
        transform: skew(15deg); }
      .container-rankHolder .rank-holders--2 .details--1 {
        transform: skew(15deg) translateY(-50%);
        position: absolute;
        top: 50%;
        left: 10rem; }
        .container-rankHolder .rank-holders--2 .details--1 .name--1 {
          font-family: 'Cookie', cursive;
          font-size: 3.7rem;
          letter-spacing: 2.5px;
          color: #0066a5;
          font-weight: 500;
          text-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, 0.3); }
        .container-rankHolder .rank-holders--2 .details--1 .belt--1 {
          font-family: 'Exo 2', sans-serif;
          font-size: 1.7rem;
          font-weight: 300; }
        .container-rankHolder .rank-holders--2 .details--1 .rank--1 {
          font-family: 'Exo 2', sans-serif;
          font-size: 1.7rem;
          font-weight: 300;
          letter-spacing: 2px;
          margin-top: -10px; }
    .container-rankHolder .rank-holders--3 {
      transform: skew(-15deg); }
      .container-rankHolder .rank-holders--3 img {
        margin-left: 7rem;
        width: 150px;
        position: absolute;
        top: 0%;
        left: 0%;
        transform: skew(15deg); }
      .container-rankHolder .rank-holders--3 .details--1 {
        transform: skew(15deg) translateY(-50%);
        position: absolute;
        top: 50%;
        left: 27rem; }
        .container-rankHolder .rank-holders--3 .details--1 .name--1 {
          font-family: 'Cookie', cursive;
          font-size: 3.7rem;
          letter-spacing: 2.5px;
          color: #0066a5;
          font-weight: 500;
          text-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, 0.3); }
        .container-rankHolder .rank-holders--3 .details--1 .belt--1 {
          font-family: 'Exo 2', sans-serif;
          font-size: 1.7rem;
          font-weight: 300; }
        .container-rankHolder .rank-holders--3 .details--1 .rank--1 {
          font-family: 'Exo 2', sans-serif;
          font-size: 1.7rem;
          font-weight: 300;
          letter-spacing: 2px;
          margin-top: -10px; }
    .container-rankHolder .rank-holders--4 {
      left: 40%;
      transform: skew(-15deg); }
      .container-rankHolder .rank-holders--4 img {
        margin-right: 10rem;
        width: 150px;
        position: absolute;
        top: 0%;
        right: 0%;
        transform: skew(15deg); }
      .container-rankHolder .rank-holders--4 .details--1 {
        transform: skew(15deg) translateY(-50%);
        position: absolute;
        top: 50%;
        left: 10rem; }
        .container-rankHolder .rank-holders--4 .details--1 .name--1 {
          font-family: 'Cookie', cursive;
          font-size: 3.7rem;
          letter-spacing: 2.5px;
          color: #0066a5;
          font-weight: 500;
          text-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, 0.3); }
        .container-rankHolder .rank-holders--4 .details--1 .belt--1 {
          font-family: 'Exo 2', sans-serif;
          font-size: 1.7rem;
          font-weight: 300; }
        .container-rankHolder .rank-holders--4 .details--1 .rank--1 {
          font-family: 'Exo 2', sans-serif;
          font-size: 1.7rem;
          font-weight: 300;
          letter-spacing: 2px;
          margin-top: -10px; }

.reviews {
  height: 40vh;
  background-image: linear-gradient(to right bottom, #bfacc942, #b89fc449);
  margin: 30rem 0 2px 0;
  position: relative; }
  .reviews .right-arrow-reviews {
    position: absolute;
    top: 50%;
    right: 6%;
    transform: translateY(-50%);
    font-size: 4rem;
    cursor: pointer; }
    .reviews .right-arrow-reviews:hover {
      transform: scale(1.1) translateY(-50%);
      text-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); }
    .reviews .right-arrow-reviews:active {
      transform: scale(1) translateY(-50%);
      text-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3); }
  .reviews .left-arrow-reviews {
    position: absolute;
    top: 50%;
    left: 6%;
    transform: translateY(-50%);
    font-size: 4rem;
    cursor: pointer; }
    .reviews .left-arrow-reviews:hover {
      transform: scale(1.1) translateY(-50%);
      text-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); }
    .reviews .left-arrow-reviews:active {
      transform: scale(1) translateY(-50%);
      text-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3); }
  .reviews .review {
    width: 70%;
    font-family: 'Exo 2', sans-serif;
    font-size: 2rem;
    color: #44222d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.section1 {
  margin: 15rem 0 30rem 0; }

.section-main {
  background-color: #b5d2dd; }

.header-aboutUs {
  position: relative; }

.header-aboutUs {
  margin-bottom: 500rem; }
  .header-aboutUs--Div {
    top: 0;
    height: 25vh;
    width: 100%;
    background-image: linear-gradient(to left top, #00c7a9, #313b47);
    position: fixed; }

.margin-top-25 {
  margin-top: 25rem; }

.margin-top-30 {
  margin-top: 30rem; }

.margin-bottom-10 {
  margin-bottom: 10rem; }

.margin-bottom-15 {
  margin-bottom: 15rem; }
