.section-main{
    background-color: rgb(181, 210, 221);
}
.header-aboutUs{
    position: relative;
}
.header-aboutUs{
    &--Div{
        top: 0;
        height: 25vh;
        width: 100%;
        background-image: linear-gradient(to left top , #00c7a9 , #313b47);
        position: fixed;
    }
    margin-bottom: 500rem;
}

