@media only screen and (min-width:0px)and (max-width: 400px){
    .gallery{
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;
        >h2{
            margin-bottom: 3rem;
        }
    
        div{
            position: relative;
            img{
                display: block;
                width: 95%;
                height: 70vw;
                margin: 0 auto 1.7rem auto;
                box-shadow: 0.3rem 0.7rem 0.8rem rgba(#000, .2);
                border-radius: 7px;
            }
            p{
                position: absolute;
                bottom: 5%;
                left: 50%;
                transform: translate(-50%,-50%);
                font-size: 1.6rem;
                color: rgba(255, 250, 240, 0.898);
                font-family: 'Roboto', sans-serif;
                letter-spacing: 3px;
                font-weight: 500;
                z-index: 999;
                text-align: center;
                display: block;
                width: 100%;
                background-image: linear-gradient(-20deg, #00c7a9, #313b47);
                padding: .7rem 0;
                border-radius: 3px;
                
            }
        }
    }
}
@media only screen and (min-width:400px)and (max-width: 535px){
    .gallery{
        >h2{
            margin-bottom: 5rem;
        }
    
        div{
            position: relative;
            img{
                display: block;
                width: 90%;
                height: 70vw;
                margin: 0 auto 1.7rem auto;
                box-shadow: 0.3rem 0.7rem 0.8rem rgba(#000, .2);
                border-radius: 7px;
            }
            p{
                position: absolute;
                bottom: 5%;
                left: 50%;
                transform: translate(-50%,-50%);
                font-size: 1.6rem;
                color: rgba(255, 250, 240, 0.898);
                font-family: 'Roboto', sans-serif;
                letter-spacing: 3px;
                font-weight: 500;
                z-index: 999;
                text-align: center;
                display: block;
                width: 95%;
                background-image: linear-gradient(-20deg, #00c7a9, #313b47);
                padding: 1rem 0;
                border-radius: 3px;
    
            }
        }
    }
}
@media only screen and (min-width:535px) and (max-width: 1000px){
    .gallery{
        >h2{
            margin-bottom: 5rem;
        }
    
        div{
            position: relative;
            img{
                display: block;
                width: 50rem;
                height: 35rem;
                margin: 0 auto 3.7rem auto;
                box-shadow: 0.3rem 0.7rem 0.8rem rgba(#000, .2);
                border-radius: 7px;
            }
            p{
                position: absolute;
                bottom: 10%;
                left: 50%;
                transform: translate(-50%,-50%);
                font-size: 1.6rem;
                color: rgba(255, 250, 240, 0.898);
                font-family: 'Roboto', sans-serif;
                letter-spacing: 3px;
                font-weight: 500;
                z-index: 999;
                text-align: center;
                display: block;
                width: 53rem;
                background-image: linear-gradient(-20deg, #00c7a9, #313b47);
                padding: 1rem 0;
                border-radius: 3px;
    
            }
        }
    }
}
@media only screen and (min-width:1000px){
    .gallery{
        >h2{
            margin-bottom: 10rem;
        }
        display: block;
        margin: 2rem auto 5rem auto;
        width: 99.2rem;
        // border: 2px solid red;
        div{
            position: relative;
            display: inline-block;
            width: 45.3rem;
            
            img{
                display: block;
                width: 45rem;
                height: 35rem;
                margin: 0 auto 3.7rem auto;
                box-shadow: 0.3rem 0.7rem 0.8rem rgba(#000, .2);
                border-radius: 7px;
            }
            p{
                position: absolute;
                bottom: 10%;
                left: 50%;
                transform: translate(-50%,-50%);
                font-size: 1.6rem;
                color: rgba(255, 250, 240, 0.898);
                font-family: 'Roboto', sans-serif;
                letter-spacing: 1.7px;
                font-weight: 500;
                z-index: 999;
                text-align: center;
                display: block;
                width: 47rem;
                background-image: linear-gradient(-20deg, #00c7a9, #313b47);
                padding: 1rem 0;
                border-radius: 3px;
    
            }
        }
        .Parade{
            margin-right: 8rem;
        }
        .Lalkaar{
            margin-right: 8rem;
        }
        .trip{
            margin-right: 8rem;
        }
    }
}