*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body {
    background-color: #E4E6EB;
}

.header{

    background-image: url(/img/headerBG.png);
    height: 100vh;
    background-size: cover;
    position: relative;
    
    
    &__navbar{
        display: inline-flex;
        align-items: center;
        justify-content: space-around;
        padding: 4.5rem 4.5rem;
        min-width: 100%;
        position: -webkit-sticky;
        position: sticky;
        top: 20px;
        z-index: 9999;
    }

    @media only screen and (max-width: 1430px) {
        .logotext{
            font-size: 1.3rem;
        }
    }
    
}

.academy-logo{

    width: 9rem;

    &__img{
        width: 100%;
        cursor: pointer;
    }
    transition: all .5s ease-out;
}

.academy-logo:hover{
    transform: translateY(-5px) scale(1.1);
}

.logotext-click{
    text-decoration: none;

    .logotext{

        transform: translateX(-15rem);
        font-family: 'Arial', sans-serif;     
    
        &__line1{
            display: block;
            color: rgba(255, 250, 240, 0.891);
            font-size: 2.3rem;
        }
    
        &__line2{
            display: inline-block;
            color: rgba(255, 250, 240, 0.891);
            font-size: 2.3rem;
        }
    }
    &:hover{
        color: floralwhite;
        text-shadow: 0 1rem 1.5rem rgba($color: #000000, $alpha: .2);
    }

    &:active{
        text-shadow: 0 1rem 1.5rem rgba($color: #000000, $alpha: .3);
        transform: translateY(.4px);
    }
}



.navlinks{

    &__links{

        list-style: none;
        color: black;

        li{
            
            display: inline-block;
            font-family: 'Ubuntu', sans-serif;

        }

        li:not(:last-child){
            margin-right: .5rem;
        }

        .active{
            background-image: linear-gradient(-60deg,rgb(31, 164, 140) ,rgb(22, 122, 100), rgb(15, 100, 90));
            border-radius: 3px;
            box-shadow: 0 1.5rem 2rem rgba($color: #000000, $alpha: .2);
        }

        a{
            font-size: 1.6rem;
            color: white;
            text-transform: uppercase;
            text-decoration: none;
            padding: 1rem 2rem;

            &:hover, &::after, &::before{
                
                background-image: linear-gradient(-60deg,rgb(31, 164, 187) ,rgb(22, 122, 139), rgb(15, 100, 116));
                border-radius: 3px;
                box-shadow: 0 1.5rem 2rem rgba($color: #000000, $alpha: .2);

            }

            &:active{
                transform: translateY(2px);
                background-image: linear-gradient(-60deg,rgb(31, 164, 140) ,rgb(22, 122, 100), rgb(15, 100, 90));
                border-radius: 3px;
                box-shadow: 0 1.5rem 2rem rgba($color: #000000, $alpha: .4);
            }
        }

            
    }

}

.welcome_text{

    font-family: 'Roboto', sans-serif;
    color: rgb(247, 247, 247);
    position: absolute;
    top: 40%;
    left: 23%;
    transform: translate(-26%,0);
    font-size: 1.7rem;
    
    
    .academyName{
        word-spacing: 0.7rem;
        line-height: 1.4;
        color: #BBD2C5;
    
    }
    .slogan-Hindi{
        display: inline-block;
        font-family: 'Hind', sans-serif;
        margin-top: 2rem;
        word-spacing: 1rem;
        letter-spacing: 0.2rem;
        background-image:  linear-gradient(-70deg,#BBD2C5,#6dd5ed);
        -webkit-background-clip: text;
        color: transparent;
        text-shadow:0 1.5rem 2rem rgba($color: #000000, $alpha: .4);

    }
}

.button-bordered{
    position: absolute;
    bottom: 25%;
    left: 15%;
}

.explore_more_btn{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: .8rem;
    padding: 5px 7px 2px 7px;
    
    border-bottom: 3.2px solid rgb(45, 103, 158);
    box-shadow: 0 1.5rem 2rem rgba($color: #000000, $alpha: .2);
    
    transition: all .5s ;
    
}
.explore_more_btn:hover{
    background-color: rgb(45, 103, 158);
    color: #000;
    box-shadow: 0 1.5rem 2rem rgba($color: #000000, $alpha: .2);
    border-radius: 4.2px;

    &:active{
        background-color: rgb(41, 94, 145);
        border-radius: 3px;
        box-shadow: 0 1.5rem 2.5rem rgba($color: #000000, $alpha: .35);
    }
}
.Rank{
    width: 70%;
}

.container-rankHolder{
    position: relative;

    .filtter-shadow{
        
        filter: drop-shadow(.15rem .8rem 1rem rgba(#000, .2));
        
    }

    .rank-holders{
        
        width: 38vw;
        height: 15rem;
        margin-bottom: 10rem;
        // clip-path: polygon(10% 0,100% 0,90% 100%, 0 100% );
        background-image: linear-gradient(to right bottom, #bfacc9,#b89fc4);
        position: relative;

        &--1{
            
            transform: skew(-15deg);

            img{
                margin-left: 7rem;
                width: 150px;
                position: absolute;
                top: 0%;
                left: 0%;
                transform: skew(15deg);
            }

            .details--1{
                transform: skew(15deg) translateY(-50%);
                position: absolute;
                top: 50%;
                left: 27rem;

                .name--1{

                    font-family: 'Cookie', cursive;
                    font-size: 3.7rem;
                    letter-spacing: 2.5px;
                    color: rgb(0, 102, 165);
                    font-weight: 500;
                    text-shadow: 0 .5rem .6rem rgba($color: #000000, $alpha: .3);

                }
                .belt--1{
                    font-family: 'Exo 2', sans-serif;
                    font-size: 1.7rem;
                    font-weight: 300;
                }

                .rank--1{
                    font-family: 'Exo 2', sans-serif;
                    font-size: 1.7rem;
                    font-weight: 300;
                    letter-spacing: 2px;
                    margin-top: -10px;
                }
            }
            
        }
        &--2{
            left: 40%;
            transform: skew(-15deg);

            img{
                margin-right: 10rem;
                width: 150px;
                position: absolute;
                top: 0%;
                right: 0%;
                transform: skew(15deg);
            }

            .details--1{
                transform: skew(15deg) translateY(-50%);
                position: absolute;
                top: 50%;
                left: 10rem;
                

                .name--1{
                    font-family: 'Cookie', cursive;
                    font-size: 3.7rem;
                    letter-spacing: 2.5px;
                    color: rgb(0, 102, 165);
                    font-weight: 500;
                    text-shadow: 0 .5rem .6rem rgba($color: #000000, $alpha: .3);

                }
                .belt--1{
                    font-family: 'Exo 2', sans-serif;
                    font-size: 1.7rem;
                    font-weight: 300;
                }

                .rank--1{
                    font-family: 'Exo 2', sans-serif;
                    font-size: 1.7rem;
                    font-weight: 300;
                    letter-spacing: 2px;
                    margin-top: -10px;
                }
            }
        }
        &--3{
            transform: skew(-15deg);

            img{
                margin-left: 7rem;
                width: 150px;
                position: absolute;
                top: 0%;
                left: 0%;
                transform: skew(15deg);
            }

            .details--1{
                transform: skew(15deg) translateY(-50%);
                position: absolute;
                top: 50%;
                left: 27rem;

                .name--1{

                    font-family: 'Cookie', cursive;
                    font-size: 3.7rem;
                    letter-spacing: 2.5px;
                    color: rgb(0, 102, 165);
                    font-weight: 500;
                    text-shadow: 0 .5rem .6rem rgba($color: #000000, $alpha: .3);

                }
                .belt--1{
                    font-family: 'Exo 2', sans-serif;
                    font-size: 1.7rem;
                    font-weight: 300;
                }

                .rank--1{
                    font-family: 'Exo 2', sans-serif;
                    font-size: 1.7rem;
                    font-weight: 300;
                    letter-spacing: 2px;
                    margin-top: -10px;
                }
            }
        }
        &--4{
            left: 40%;
            transform: skew(-15deg);

            img{
                margin-right: 10rem;
                width: 150px;
                position: absolute;
                top: 0%;
                right: 0%;
                transform: skew(15deg);
            }

            .details--1{
                transform: skew(15deg) translateY(-50%);
                position: absolute;
                top: 50%;
                left: 10rem;

                .name--1{
                    font-family: 'Cookie', cursive;
                    font-size: 3.7rem;
                    letter-spacing: 2.5px;
                    color: rgb(0, 102, 165);
                    font-weight: 500;
                    text-shadow: 0 .5rem .6rem rgba($color: #000000, $alpha: .3);

                }
                .belt--1{
                    font-family: 'Exo 2', sans-serif;
                    font-size: 1.7rem;
                    font-weight: 300;
                }

                .rank--1{
                    font-family: 'Exo 2', sans-serif;
                    font-size: 1.7rem;
                    font-weight: 300;
                    letter-spacing: 2px;
                    margin-top: -10px;
                }
            }
        }
    }
}

.reviews{
    
    height: 40vh;
    background-image: linear-gradient(to right bottom, #bfacc942,#b89fc449);
    margin: 30rem 0 2px 0;
    position: relative;

    .right-arrow-reviews{
        position: absolute;
        top: 50%;
        right: 6%;
        transform: translateY(-50%);
        font-size: 4rem;
        cursor: pointer;

        &:hover{
            transform: scale(1.1) translateY(-50%);
            text-shadow: 0 1rem 1rem rgba($color: #000000, $alpha: .2);
        }
        &:active{
            transform: scale(1) translateY(-50%);
            text-shadow: 0 1rem 1rem rgba($color: #000000, $alpha: .3);

        }

    }
    .left-arrow-reviews{
        position: absolute;
        top: 50%;
        left: 6%;
        transform: translateY(-50%);
        font-size: 4rem;
        cursor: pointer;

        &:hover{
            transform: scale(1.1) translateY(-50%);
            text-shadow: 0 1rem 1rem rgba($color: #000000, $alpha: .2);
        }
        &:active{
            transform: scale(1) translateY(-50%);
            text-shadow: 0 1rem 1rem rgba($color: #000000, $alpha: .3);
        }
    }


    .review{
        width: 70%;
        font-family: 'Exo 2', sans-serif;
        font-size: 2rem;
        color: #44222d;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

    }
}
