*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Rubik', Arial, sans-serif;
}

body {
    background-color: #E4E6EB;
    overflow-x: hidden;
}


.header{
    
    height: 100vh;
    background-size: cover;
    background-image: url(../img/headerBG.png);

    .navbar-bg{
        background-image: linear-gradient(to left top , #049882, #404a56);
        transform: translateY(-2rem);
        transition: all 0.5s ease-out;
        box-shadow: 0 1rem 1.5rem rgba($color: #000000, $alpha: .3);
    }
    .bgColor_nav_small{
        height: 100vh !important;
        background-image: linear-gradient(to left top , #049882, #404a56);
    }
    .navbar {
        z-index: 9999;
        position: relative;
        width: 100%;
        position: fixed;
        padding-top: 7rem;

        .logo{
            top: 30%;
            left: 7rem;
            height: 8.3rem;
            position: absolute;
            transition: all .5s ease-out;
            
            &:hover, &:focus{
                transform: translateY(-5px) scale(1.1);
            }
        }

        .logo_text {
            left: 17rem;
            top: 4.6rem;
            font-size: 2rem;
            font-weight: 500;
            position: absolute;
            display: inline-block;
            color: rgba(255, 250, 240, 0.891);
            font-family: 'Rubik', Arial, sans-serif;
        
            &:hover, &:focus{
                color: floralwhite;
                text-shadow: 0 1rem 1.5rem rgba($color: #000000, $alpha: .2);
                
            }

            &:active{
                transform: translateY(.4px);
                text-shadow: 0 1rem 1.5rem rgba($color: #000000, $alpha: .3);
            }
        }

        .nav{
            text-align: right;
            display: inline-block;

            .menu{
                top: 40%;
                right: 7rem;
                position: absolute;

                a{
                    line-height: 7rem;
                    font-size: 1.9rem;
                    color: floralwhite;
                    padding: 1rem 1.6rem;
                    text-decoration: none;
                    text-transform: capitalize;

                    &:hover, &:focus, &::after, &::before{
                        border-radius: 3px;
                        box-shadow: 0 1.5rem 2rem rgba($color: #000000, $alpha: .2);
                        background-image: linear-gradient(-60deg,rgb(31, 164, 187) ,rgb(22, 122, 139), rgb(15, 100, 116));
        
                    }
                    &:active{
                        transform: translateY(2px);
                        background-image: linear-gradient(-60deg,rgb(31, 164, 140) ,rgb(22, 122, 100), rgb(15, 100, 90));
                        border-radius: 3px;
                        box-shadow: 0 1.5rem 2rem rgba($color: #000000, $alpha: .4);
                    }
                }

                a:not(:last-child){
                    margin-right: 1rem;
                }
                
            }

            label{
                position: absolute;
                display: inline-block;
                font-size: 3.4rem;
                right: 8rem;
                top: 4.15rem;
                color: floralwhite;
                display: none;
            }

            #toggle{
                display: none;
            }
        }
    }

    .active{
        border-radius: 3px;
        box-shadow: 0 1.5rem 2rem rgba($color: #000000, $alpha: .2);
        background-image: linear-gradient(-60deg,rgb(31, 164, 140) ,rgb(22, 122, 100), rgb(15, 100, 90));
    }
    
}

.welcome_text{

    font-family: 'Roboto', sans-serif;
    color: rgb(247, 247, 247);
    position: absolute;
    top: 40%;
    left: 23%;
    transform: translate(-26%,0);
    font-size: 1.7rem;
    
    
    .academyName{
        word-spacing: 0.7rem;
        line-height: 1.4;
        color: #BBD2C5;
    
    }
    .slogan-Hindi{
        display: inline-block;
        font-family: 'Hind', sans-serif;
        margin-top: 2rem;
        word-spacing: 1rem;
        letter-spacing: 0.2rem;
        background-image:  linear-gradient(-70deg,#BBD2C5,#6dd5ed);
        -webkit-background-clip: text;
        color: transparent;
        text-shadow:0 1.5rem 2rem rgba($color: #000000, $alpha: .4);

    }
}

.button-bordered{
    position: absolute;
    bottom: 25%;
    left: 15%;
}

.explore_more_btn{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: .8rem;
    padding: 5px 7px 2px 7px;
    
    border-bottom: 3.2px solid rgb(45, 103, 158);
    box-shadow: 0 1.5rem 2rem rgba($color: #000000, $alpha: .2);
    
    transition: all .5s ;
    
}
.explore_more_btn:hover{
    background-color: rgb(45, 103, 158);
    color: #000;
    box-shadow: 0 1.5rem 2rem rgba($color: #000000, $alpha: .2);
    border-radius: 4.2px;

    &:active{
        background-color: rgb(41, 94, 145);
        border-radius: 3px;
        box-shadow: 0 1.5rem 2.5rem rgba($color: #000000, $alpha: .35);
    }
}

.Rank{
    width: 70%;
}

//@media Queries
@media only screen and(min-width:1060px){
    .header .navbar-bg{
        height: 11.5rem !important;
    }
    .header .navbar-bg a .logo{
        top: 23% !important;
    }
    .header .navbar-bg .nav .menu {
        top: 28%;
    }
}
@media only screen and (max-width: 1060px){
    .header .navbar .nav .menu a{
        font-size: 1.75rem;
    }
    .header .navbar .nav .menu a:not(:last-child){
        margin-right: 0.6rem;
    }
    .welcome_text{
        top: 36%;
        left: 26%;
        transform: translate(-26%,0);
        font-size: 1.4rem;
        
        .academyName{
            word-spacing: 0.6rem;
        }

    }
    .button-bordered{
        bottom: 18%;
        left: 17%;
    }
    .explore_more_btn{
        font-size: 1.2rem;
    }
    .header .navbar-bg{
        height: 11.5rem;
    }
    .header .navbar-bg a .logo{
        top: 23% !important;
    }
    .header .navbar-bg .nav .menu {
        top: 28%;
    }
}
@media only screen and (max-width: 1025px){
    .header .navbar a .logo{
        top: 30%;
        left: 7rem;
        height: 7.5rem;
    }
    .header .navbar a .logo_text{
        top: 4.6rem;
        font-size: 1.75rem;
        left: 16rem;
    }
    .header .navbar-bg{
        height: 11rem;
    }
    .header .navbar-bg a .logo{
        top: 26% !important;
    }
    .header .navbar-bg a .logo_text{
        top: 4.8rem;
    }
    .header .navbar-bg .nav .menu {
        top: 28%;
    }
}
@media only screen and (max-width: 942px){
    .header .navbar a .logo{
        top: 2.5rem;
        left: 7rem;
        height: 7.5rem;
    }
    .header .navbar a .logo_text{
        top: 4.35rem;
        font-size: 1.6rem;
        left: 26.5%;
    }
    .active{
        border-radius: none !important;
        box-shadow: none !important;
        background-image: none !important;
    }

    .header .navbar .nav label{
        display: inline-block;
        cursor: pointer;
    }

    .header .navbar .nav .menu {
        right: 0;
        top: 9rem;
        width: 100%;
        display: none;
        text-align: center;
    }

    .header .navbar .nav .menu a{
        clear: both;
        display: block;
        font-size: 1.6rem;
        line-height: 5rem;
        
        margin: 1.5rem 0 0 0 !important;
        border-bottom:1.2px solid rgba(169, 167, 167, 0.3);

        &:hover, &:focus{
            border-radius: none;
            box-shadow: none;
            background-image: none;
            color: rgb(236, 212, 163);
        }
        &:active{
            transform: translateY(2px);
            border-radius: none;
            box-shadow: none;
            background-image: none;
        }

    }
    .menu_display_block{
        display: block !important;
    }

    // .header .navbar .nav #toggle:checked + .menu{
    //     display: block;
    // }

    .button-bordered{
        bottom: 18%;
        left: 16%;
    }
    .header .navbar-bg{
        height: 11.2rem;
    }
    .header .navbar-bg a .logo_text{
        top: 4.8rem;
    }
    .header .navbar-bg a .logo{
        top: 2.8rem !important;
    }

}
@media only screen and (max-width: 550px){
    .header .navbar a .logo{
        top: 2.7rem;
        left: 10%;
        height: 7rem !important;
    }
    .header .navbar a .logo_text{
        top: 4.1rem;
        font-size: 1.5rem;
        left: 25%;
    }
    .header .navbar .nav label{
        font-size: 3rem !important;
        right: 10%;
    }
    .header .navbar-bg{
        height: 10.5rem;
    }
    .header .navbar-bg a .logo_text{
        top: 4.5rem !important;
    }
    .header .navbar-bg a .logo{
        top: 2.8rem !important;
    }
}
@media only screen and (max-width: 530px){
    .welcome_text{
        width: 23rem;
    }
}
@media only screen and (max-width: 480px){
    .header .navbar a .logo{
        top: 2.65rem;
        left: 6%;
        height: 5.2rem !important;
    }
    .header .navbar a .logo_text{
        top: 3.85rem;
        font-size: 1.2rem;
        left: 25%;
    }
    .header .navbar .nav label{
        font-size: 2.6rem !important;
        right: 10%;
        top: 3.2rem;
    }
    .header .navbar .nav .menu a{
        clear: both;
        display: block;
        font-size: 4vw;
    }
    .header .navbar-bg{
        height: 8.2rem;
    }
    .header .navbar-bg a .logo_text{
        top: 3.8rem !important;
    }
    .header .navbar-bg a .logo{
        top: 2.65rem !important;
    }

}
@media only screen and (min-width:0)and (max-width:620px){
    .section1 .container{
        width: 95%;
    }
    .section1 .container .all .cl-1{
        height: 45vw !important; 
    }
    
    .Rank_Holders{
        margin-top: 0rem !important;
        margin-bottom: 8rem !important;
    }
    .Rank{
        width: 90%;
        overflow: hidden;
        margin-bottom: 5rem !important;
    }
    .container-rankHolder{
        position: relative;
    
        .filtter-shadow{
            filter: drop-shadow(.15rem .8rem 1rem rgba(#000, .2));
        }

        .rank-holders{
            width:100%;
            display: block;
            height: 27vw;
            background-image: none;
            position: relative;

            &--1{    
                margin-bottom: 13vw;
                img{
                    width: 25vw;
                    position: absolute;
                    top: 0%;
                    left: 0%;
                }
    
                .details--1{
                    position: absolute;
                    top: 11%;
                    left: 38%;
    
                    .name--1{
    
                        font-family: 'Cookie', cursive;
                        font-size: 7vw;
                        letter-spacing: 2.5px;
                        color: rgb(0, 102, 165);
                        font-weight: 500;
                        text-shadow: 0 .5rem .6rem rgba($color: #000000, $alpha: .3);
    
                    }
                    .belt--1{
                        font-family: 'Exo 2', sans-serif;
                        font-size: 4vw;
                        font-weight: 300;
                    }
    
                    .rank--1{
                        font-family: 'Exo 2', sans-serif;
                        font-size: 4vw;
                        font-weight: 300;
                        letter-spacing: 2px;
                        margin-top: -10px;
                    }
                }
                
            }
            &--2{    
                margin-bottom: 10vw;
                img{
                    width: 25vw;
                    position: absolute;
                    top: 0%;
                    left: 0%;
                }
    
                .details--1{
                    position: absolute;
                    top: 11%;
                    left: 38%;
    
                    .name--1{
    
                        font-family: 'Cookie', cursive;
                        font-size: 7vw;
                        letter-spacing: 2.5px;
                        color: rgb(0, 102, 165);
                        font-weight: 500;
                        text-shadow: 0 .5rem .6rem rgba($color: #000000, $alpha: .3);
    
                    }
                    .belt--1{
                        font-family: 'Exo 2', sans-serif;
                        font-size: 4vw;
                        font-weight: 300;
                    }
    
                    .rank--1{
                        font-family: 'Exo 2', sans-serif;
                        font-size: 4vw;
                        font-weight: 300;
                        letter-spacing: 2px;
                        margin-top: -10px;
                    }
                }
                
            }
            &--3{
                margin-bottom: 10vw;
                img{
                    width: 25vw;
                    position: absolute;
                    top: 0%;
                    left: 0%;
                }
    
                .details--1{
                    position: absolute;
                    top: 11%;
                    left: 38%;
    
                    .name--1{
    
                        font-family: 'Cookie', cursive;
                        font-size: 7vw;
                        letter-spacing: 2.5px;
                        color: rgb(0, 102, 165);
                        font-weight: 500;
                        text-shadow: 0 .5rem .6rem rgba($color: #000000, $alpha: .3);
    
                    }
                    .belt--1{
                        font-family: 'Exo 2', sans-serif;
                        font-size: 4vw;
                        font-weight: 300;
                    }
    
                    .rank--1{
                        font-family: 'Exo 2', sans-serif;
                        font-size: 4vw;
                        font-weight: 300;
                        letter-spacing: 2px;
                        margin-top: -10px;
                    }
                }
                
            }
            &--4{
                margin-bottom: 10vw;
                img{
                    width: 25vw;
                    position: absolute;
                    top: 0%;
                    left: 0%;
                }
    
                .details--1{
                    position: absolute;
                    top: 11%;
                    left: 38%;
    
                    .name--1{
    
                        font-family: 'Cookie', cursive;
                        font-size: 7vw;
                        letter-spacing: 2.5px;
                        color: rgb(0, 102, 165);
                        font-weight: 500;
                        text-shadow: 0 .5rem .6rem rgba($color: #000000, $alpha: .3);
    
                    }
                    .belt--1{
                        font-family: 'Exo 2', sans-serif;
                        font-size: 4vw;
                        font-weight: 300;
                    }
    
                    .rank--1{
                        font-family: 'Exo 2', sans-serif;
                        font-size: 4vw;
                        font-weight: 300;
                        letter-spacing: 2px;
                        margin-top: -10px;
                    }
                }
                
            }
        }
    }
    
}
@media only screen and (min-width:0)and(max-width:480px){
    .section-review .container .all .cl-1{
        height: auto !important; 
    }
    .section-review .container {
        margin: 5rem auto 0 auto;
        width: 100%;
    }
    .section-review{
        background-image: linear-gradient(to right bottom, #bfacc942,#b89fc449);
        padding: 0.2vw 0;
        margin-bottom: 0!important;

        .cl-1{
            margin: 0 0 2rem 0 !important;
        }

        p{
            font-size: 3vw;
            letter-spacing: 0.1px;
            word-spacing: 1px;
            text-align: justify;
            text-justify: inter-word;
            line-height: 1.8;
            font-family: 'Roboto',Arial, Helvetica, sans-serif !important;

            span{
                font-size: 3vw;
                display: inline-block;
                margin-top: 3rem;
            }
            .readMore{
                margin-left: 40%;
                cursor: pointer;
            }
            .readMore:hover, .readMore:focus{
                color: rgb(123, 88, 19);
            }
        }
    }
}
@media only screen and (min-width:480px)and(max-width:620px){
    .section-review .container .all .cl-1{
        height: auto !important; 
    }
    .section-review .container {
        margin: 5rem auto 0 auto;
        width: 87%;
    }
    .section-review{
        background-image: linear-gradient(to right bottom, #bfacc942,#b89fc449);
        padding: 0.2vw 0;
        margin-bottom: 0!important;

        .cl-1{
            margin: 0 0 2rem 0 !important;
        }

        p{
            font-size: 3vw;
            letter-spacing: 0.1px;
            word-spacing: 1px;
            text-align: justify;
            text-justify: inter-word;
            line-height: 1.8;
            font-family: 'Roboto',Arial, Helvetica, sans-serif !important;

            span{
                font-size: 3vw;
                display: inline-block;
                margin-top: 3rem;
            }
            .readMore{
                margin-left: 35%;
                cursor: pointer;
            }
            .readMore:hover, .readMore:focus{
                color: rgb(123, 88, 19);
            }
        }
    }
}
@media only screen and (min-width:620px)and(max-width:980px){

    .Rank{
      width: 80%;

        .margin-bottom-15{
            margin-bottom: 12vw !important;
        }
        .margin-top-30{
            margin-top: 11vw !important;
        }
    }
    
    .container-rankHolder{
        position: relative;
    
        .filtter-shadow{
            filter: drop-shadow(.15rem .8rem 1rem rgba(#000, .2));
        }
    
        .rank-holders{
            
            width: 100%;
            height: 12rem;
            margin-bottom: 10rem;
            background-image: linear-gradient(to right bottom, #bfacc9,#b89fc4);
            position: relative;
    
            &--1{
                
                transform: skew(-15deg);
    
                img{
                    margin-left: 10%;
                    width: 130px;
                    position: absolute;
                    top: 0%;
                    left: 0%;
                    transform: skew(15deg);
                }
    
                .details--1{
                    transform: skew(15deg) translateY(-50%);
                    position: absolute;
                    top: 50%;
                    left: 44%;
    
                    .name--1{
    
                        font-family: 'Cookie', cursive;
                        font-size: 2.7rem;
                        letter-spacing: 2.5px;
                        color: rgb(0, 102, 165);
                        font-weight: 500;
                        text-shadow: 0 .5rem .6rem rgba($color: #000000, $alpha: .3);
    
                    }
                    .belt--1{
                        font-family: 'Exo 2', sans-serif;
                        font-size: 1.7rem;
                        font-weight: 300;
                    }
    
                    .rank--1{
                        font-family: 'Exo 2', sans-serif;
                        font-size: 1.7rem;
                        font-weight: 300;
                        letter-spacing: 2px;
                        margin-top: -10px;
                    }
                }
                
            }

            &--2{
                
                transform: skew(-15deg);
    
                img{
                    margin-left: 10%;
                    width: 130px;
                    position: absolute;
                    top: 0%;
                    left: 0%;
                    transform: skew(15deg);
                }
    
                .details--1{
                    transform: skew(15deg) translateY(-50%);
                    position: absolute;
                    top: 50%;
                    left: 44%;
    
                    .name--1{
    
                        font-family: 'Cookie', cursive;
                        font-size: 2.7rem;
                        letter-spacing: 2.5px;
                        color: rgb(0, 102, 165);
                        font-weight: 500;
                        text-shadow: 0 .5rem .6rem rgba($color: #000000, $alpha: .3);
    
                    }
                    .belt--1{
                        font-family: 'Exo 2', sans-serif;
                        font-size: 1.7rem;
                        font-weight: 300;
                    }
    
                    .rank--1{
                        font-family: 'Exo 2', sans-serif;
                        font-size: 1.7rem;
                        font-weight: 300;
                        letter-spacing: 2px;
                        margin-top: -10px;
                    }
                }
                
            }

            &--3{
                
                transform: skew(-15deg);
    
                img{
                    margin-left: 10%;
                    width: 130px;
                    position: absolute;
                    top: 0%;
                    left: 0%;
                    transform: skew(15deg);
                }
    
                .details--1{
                    transform: skew(15deg) translateY(-50%);
                    position: absolute;
                    top: 50%;
                    left: 44%;
    
                    .name--1{
    
                        font-family: 'Cookie', cursive;
                        font-size: 2.7rem;
                        letter-spacing: 2.5px;
                        color: rgb(0, 102, 165);
                        font-weight: 500;
                        text-shadow: 0 .5rem .6rem rgba($color: #000000, $alpha: .3);
    
                    }
                    .belt--1{
                        font-family: 'Exo 2', sans-serif;
                        font-size: 1.7rem;
                        font-weight: 300;
                    }
    
                    .rank--1{
                        font-family: 'Exo 2', sans-serif;
                        font-size: 1.7rem;
                        font-weight: 300;
                        letter-spacing: 2px;
                        margin-top: -10px;
                    }
                }
                
            }
            &--4{
                
                transform: skew(-15deg);
    
                img{
                    margin-left: 10%;
                    width: 130px;
                    position: absolute;
                    top: 0%;
                    left: 0%;
                    transform: skew(15deg);
                }
    
                .details--1{
                    transform: skew(15deg) translateY(-50%);
                    position: absolute;
                    top: 50%;
                    left: 44%;
    
                    .name--1{
    
                        font-family: 'Cookie', cursive;
                        font-size: 2.7rem;
                        letter-spacing: 2.5px;
                        color: rgb(0, 102, 165);
                        font-weight: 500;
                        text-shadow: 0 .5rem .6rem rgba($color: #000000, $alpha: .3);
    
                    }
                    .belt--1{
                        font-family: 'Exo 2', sans-serif;
                        font-size: 1.7rem;
                        font-weight: 300;
                    }
    
                    .rank--1{
                        font-family: 'Exo 2', sans-serif;
                        font-size: 1.7rem;
                        font-weight: 300;
                        letter-spacing: 2px;
                        margin-top: -10px;
                    }
                }
                
            }
        }
    }
    .section-review .container .all .cl-1{
        height: auto !important; 
    }
    .section-review .container {
        margin: 5rem auto 0 auto;
        width: 78%;
    }
    .section-review{
        background-image: linear-gradient(to right bottom, #bfacc942,#b89fc449);
        padding: 0.2vw 0;
        margin-bottom: 0!important;

        .cl-1{
            margin: 0 0 2rem 0 !important;
        }

        p{
            font-size: 2vw;
            letter-spacing: 0.1px;
            word-spacing: 1px;
            text-align: justify;
            text-justify: inter-word;
            line-height: 1.8;
            font-family: 'Roboto',Arial, Helvetica, sans-serif !important;

            span{
                font-size: 2vw;
                display: inline-block;
                margin-top: 3rem;
            }
            .readMore{
                margin-left: 55%;
                cursor: pointer;
            }
            .readMore:hover, .readMore:focus{
                color: rgb(123, 88, 19);
            }
        }
    }
}
@media only screen and (min-width: 800px){
    .section1 .container .all .cl-1{
        height: 25vw !important; 
    }
}
@media only screen and (min-width:980px)and (max-width:1360px){
    .container-rankHolder{
        position: relative;
    
        .filtter-shadow{
            
            filter: drop-shadow(.15rem .8rem 1rem rgba(#000, .2));
            
        }
    
        .rank-holders{
            
            width: 38vw;
            height: 10.5vw;
            margin-bottom: 6vw;
            background-image: linear-gradient(to right bottom, #bfacc9,#b89fc4);
            position: relative;
    
            &--1{
                
                transform: skew(-15deg);
    
                img{
                    margin-left: 4vw;
                    width: 10vw;
                    position: absolute;
                    top: 0%;
                    left: 0%;
                    transform: skew(15deg);
                }
    
                .details--1{
                    transform: skew(15deg) translateY(-50%);
                    position: absolute;
                    top: 50%;
                    left: 50%;
    
                    .name--1{
    
                        font-family: 'Cookie', cursive;
                        font-size: 2.2vw;
                        letter-spacing: 2.5px;
                        color: rgb(0, 102, 165);
                        font-weight: 500;
                        text-shadow: 0 .5rem .6rem rgba($color: #000000, $alpha: .3);
    
                    }
                    .belt--1{
                        font-family: 'Exo 2', sans-serif;
                        font-size: 1vw;
                        font-weight: 300;
                    }
    
                    .rank--1{
                        font-family: 'Exo 2', sans-serif;
                        font-size: 1vw;
                        font-weight: 300;
                        letter-spacing: 2px;
                        margin-top: -10px;
                    }
                }
                
            }
            &--2{
                left: 40%;
                transform: skew(-15deg);
    
                img{
                    margin-right: 4vw;
                    width: 10vw;
                    position: absolute;
                    top: 0%;
                    right: 0%;
                    transform: skew(15deg);
                }
    
                .details--1{
                    transform: skew(15deg) translateY(-50%);
                    position: absolute;
                    top: 50%;
                    left: 22%;
                    
    
                    .name--1{
                        font-family: 'Cookie', cursive;
                        font-size: 2.2vw;
                        letter-spacing: 2.5px;
                        color: rgb(0, 102, 165);
                        font-weight: 500;
                        text-shadow: 0 .5rem .6rem rgba($color: #000000, $alpha: .3);
    
                    }
                    .belt--1{
                        font-family: 'Exo 2', sans-serif;
                        font-size: 1vw;
                        font-weight: 300;
                    }
    
                    .rank--1{
                        font-family: 'Exo 2', sans-serif;
                        font-size: 1vw;
                        font-weight: 300;
                        letter-spacing: 2px;
                        margin-top: -10px;
                    }
                }
           }
           
           &--3{
                
            transform: skew(-15deg);

            img{
                margin-left: 4vw;
                width: 10vw;
                position: absolute;
                top: 0%;
                left: 0%;
                transform: skew(15deg);
            }

            .details--1{
                transform: skew(15deg) translateY(-50%);
                position: absolute;
                top: 50%;
                left: 50%;

                .name--1{

                    font-family: 'Cookie', cursive;
                    font-size: 2.2vw;
                    letter-spacing: 2.5px;
                    color: rgb(0, 102, 165);
                    font-weight: 500;
                    text-shadow: 0 .5rem .6rem rgba($color: #000000, $alpha: .3);

                }
                .belt--1{
                    font-family: 'Exo 2', sans-serif;
                    font-size: 1vw;
                    font-weight: 300;
                }

                .rank--1{
                    font-family: 'Exo 2', sans-serif;
                    font-size: 1vw;
                    font-weight: 300;
                    letter-spacing: 2px;
                    margin-top: -10px;
                }
            }
            
        }
        &--4{
            left: 40%;
            transform: skew(-15deg);

            img{
                margin-right: 4vw;
                width: 10vw;
                position: absolute;
                top: 0%;
                right: 0%;
                transform: skew(15deg);
            }

            .details--1{
                transform: skew(15deg) translateY(-50%);
                position: absolute;
                top: 50%;
                left: 22%;
                

                .name--1{
                    font-family: 'Cookie', cursive;
                    font-size: 2.2vw;
                    letter-spacing: 2.5px;
                    color: rgb(0, 102, 165);
                    font-weight: 500;
                    text-shadow: 0 .5rem .6rem rgba($color: #000000, $alpha: .3);

                }
                .belt--1{
                    font-family: 'Exo 2', sans-serif;
                    font-size: 1vw;
                    font-weight: 300;
                }

                .rank--1{
                    font-family: 'Exo 2', sans-serif;
                    font-size: 1vw;
                    font-weight: 300;
                    letter-spacing: 2px;
                    margin-top: -10px;
                }
            }
        }
        }   
    }
    .section-review .container .all .cl-1{
        height: auto !important; 
    }
    .section-review .container {
        margin: 5rem auto 0 auto;
        width: 78%;
    }
    .section-review{
        background-image: linear-gradient(to right bottom, #bfacc942,#b89fc449);
        padding: 0.2vw 0;
        margin-bottom: 0!important;

        .cl-1{
            margin: 0 0 2rem 0 !important;
        }

        p{
            font-size: 1.3vw;
            letter-spacing: 0.1px;
            word-spacing: 1px;
            text-align: justify;
            text-justify: inter-word;
            line-height: 1.8;
            font-family: 'Roboto',Arial, Helvetica, sans-serif !important;

            span{
                font-size: 1.2vw;
                display: inline-block;
                margin-top: 3rem;
            }
            .readMore{
                margin-left: 74%;
                cursor: pointer;
            }
            .readMore:hover, .readMore:focus{
                color: rgb(123, 88, 19);
            }
        }
    }
}
@media only screen and (min-width: 1200px){
    .section1 .container .all .cl-1{
        height: 15vw !important; 
    }
} 
@media only screen and (min-width:1360px){
    .container-rankHolder{
        position: relative;
    
        .filtter-shadow{
            
            filter: drop-shadow(.15rem .8rem 1rem rgba(#000, .2));
            
        }
    
        .rank-holders{
            
            width: 38vw;
            height: 15rem;
            margin-bottom: 10rem;
            background-image: linear-gradient(to right bottom, #bfacc9,#b89fc4);
            position: relative;
    
            &--1{
                
                transform: skew(-15deg);
    
                img{
                    margin-left: 7rem;
                    width: 150px;
                    position: absolute;
                    top: 0%;
                    left: 0%;
                    transform: skew(15deg);
                }
    
                .details--1{
                    transform: skew(15deg) translateY(-50%);
                    position: absolute;
                    top: 50%;
                    left: 27rem;
    
                    .name--1{
    
                        font-family: 'Cookie', cursive;
                        font-size: 2.7rem;
                        letter-spacing: 2.5px;
                        color: rgb(0, 102, 165);
                        font-weight: 500;
                        text-shadow: 0 .5rem .6rem rgba($color: #000000, $alpha: .3);
    
                    }
                    .belt--1{
                        font-family: 'Exo 2', sans-serif;
                        font-size: 1.7rem;
                        font-weight: 300;
                    }
    
                    .rank--1{
                        font-family: 'Exo 2', sans-serif;
                        font-size: 1.7rem;
                        font-weight: 300;
                        letter-spacing: 2px;
                        margin-top: -10px;
                    }
                }
                
            }
            &--2{
                left: 40%;
                transform: skew(-15deg);
    
                img{
                    margin-right: 10rem;
                    width: 150px;
                    position: absolute;
                    top: 0%;
                    right: 0%;
                    transform: skew(15deg);
                }
    
                .details--1{
                    transform: skew(15deg) translateY(-50%);
                    position: absolute;
                    top: 50%;
                    left: 10rem;
                    
    
                    .name--1{
                        font-family: 'Cookie', cursive;
                        font-size: 2.7rem;
                        letter-spacing: 2.5px;
                        color: rgb(0, 102, 165);
                        font-weight: 500;
                        text-shadow: 0 .5rem .6rem rgba($color: #000000, $alpha: .3);
    
                    }
                    .belt--1{
                        font-family: 'Exo 2', sans-serif;
                        font-size: 1.7rem;
                        font-weight: 300;
                    }
    
                    .rank--1{
                        font-family: 'Exo 2', sans-serif;
                        font-size: 1.7rem;
                        font-weight: 300;
                        letter-spacing: 2px;
                        margin-top: -10px;
                    }
                }
            }
            &--3{
                transform: skew(-15deg);
    
                img{
                    margin-left: 7rem;
                    width: 150px;
                    position: absolute;
                    top: 0%;
                    left: 0%;
                    transform: skew(15deg);
                }
    
                .details--1{
                    transform: skew(15deg) translateY(-50%);
                    position: absolute;
                    top: 50%;
                    left: 27rem;
    
                    .name--1{
    
                        font-family: 'Cookie', cursive;
                        font-size: 2.7rem;
                        letter-spacing: 2.5px;
                        color: rgb(0, 102, 165);
                        font-weight: 500;
                        text-shadow: 0 .5rem .6rem rgba($color: #000000, $alpha: .3);
    
                    }
                    .belt--1{
                        font-family: 'Exo 2', sans-serif;
                        font-size: 1.7rem;
                        font-weight: 300;
                    }
    
                    .rank--1{
                        font-family: 'Exo 2', sans-serif;
                        font-size: 1.7rem;
                        font-weight: 300;
                        letter-spacing: 2px;
                        margin-top: -10px;
                    }
                }
            }
            &--4{
                left: 40%;
                transform: skew(-15deg);
    
                img{
                    margin-right: 10rem;
                    width: 150px;
                    position: absolute;
                    top: 0%;
                    right: 0%;
                    transform: skew(15deg);
                }
    
                .details--1{
                    transform: skew(15deg) translateY(-50%);
                    position: absolute;
                    top: 50%;
                    left: 10rem;
    
                    .name--1{
                        font-family: 'Cookie', cursive;
                        font-size: 2.7rem;
                        letter-spacing: 2.5px;
                        color: rgb(0, 102, 165);
                        font-weight: 500;
                        text-shadow: 0 .5rem .6rem rgba($color: #000000, $alpha: .3);
    
                    }
                    .belt--1{
                        font-family: 'Exo 2', sans-serif;
                        font-size: 1.7rem;
                        font-weight: 300;
                    }
    
                    .rank--1{
                        font-family: 'Exo 2', sans-serif;
                        font-size: 1.7rem;
                        font-weight: 300;
                        letter-spacing: 2px;
                        margin-top: -10px;
                    }
                }
            }
        }
    }
    .section-review .container .all .cl-1{
        height: auto !important; 
    }
    .section-review .container {
        margin: 5rem auto 0 auto;
        width: 80%;
    }
    .section-review{
        background-image: linear-gradient(to right bottom, #bfacc942,#b89fc449);
        padding: 0.2vw 0;
        margin-bottom: 0!important;

        .cl-1{
            margin: 0 0 2rem 0 !important;
        }

        p{
            font-size: 1.2vw;
            letter-spacing: 0.1px;
            word-spacing: 1px;
            text-align: justify;
            text-justify: inter-word;
            line-height: 1.8;
            font-family: 'Roboto',Arial, Helvetica, sans-serif !important;

            span{
                font-size: 1.1vw;
                display: inline-block;
                margin-top: 3rem;
            }
            .readMore{
                margin-left: 78%;
                cursor: pointer;
            }
            .readMore:hover, .readMore:focus{
                color: rgb(123, 88, 19);
            }
        }
    }
}