.header-navPages{
    height: auto;
    background-size: none;
    background-image: none;
}
.section-main{
    height: 40vh;
}

.navbar .nav .menu ul>li:hover,
.navbar .nav .menu ul>li:focus{
    border-radius: 3px 3px 0 0;
    box-shadow: 0 1.5rem 2rem rgba($color: #000000, $alpha: .2);
    background-image: linear-gradient(to right top ,#106a7b,#126e7f, #157586);
    
    & > a{
        border-radius: none !important;
        box-shadow: none !important;
        background-image: none !important;
    }
}

@media only screen and (min-width: 0px){
    .dropDownAboutUs{
        position: none;
        li{
            ul{
                display: none;
                position: none;
            }

            ul li a{
                border-bottom: none;
            }
            &:hover > ul,
            &:focus > ul{
                display: block;
            }
        }
        &:hover{
            height: 40rem;
            margin-bottom: 30rem;
        }
        &:focus{
            height: 40rem;
        }  
    }
}
@media only screen and (min-width: 942px){
    .dropDownAboutUs > li {
        height: 100px;
    }
    .dropDownAboutUs{
        display: inline-block;
        position: relative;
        list-style: none;
        
        li ul {
            display: none;
            position: absolute;
            list-style: none;
            background-image: linear-gradient(to left top , #404a56,#049882 );
            width: 25vw;
            margin-top: 9px;
            border-radius: 0 0 5px 5px;
            padding-bottom: 3rem;
    
            li{
                text-align: left;
                height: 4.5rem;
                display: block;
                a{
                    font-size: 1.2vw !important;
                }
            }
    
        }
        li:hover ul{
            display: block;
        }
    }
}
@media only screen and (min-width: 1025px){
    .dropDownAboutUs > li {
        height: 100px;
    }
    .dropDownAboutUs{
        display: inline-block;
        position: relative;
        list-style: none;
        
        li ul {
            display: none;
            position: absolute;
            list-style: none;
            background-image: linear-gradient(to left top , #404a56,#049882 );
            width: 25vw;
            margin-top: 13px;
            border-radius: 0 0 5px 5px;
            padding-bottom: 3rem;
    
            li{
                text-align: left;
                height: 4.5rem;
                display: block;
                a{
                    font-size: 1.2vw !important;
                }
            }
    
        }
        li:hover ul{
            display: block;
        }
    }
}