.container{
    margin: 0 2rem;
    padding: 0 2rem;
    width: 80%;
    margin: 10rem auto;
}

.all{
    display: flex;
    height: 100%;
    
}

.cl-1{
    object-fit: cover;
    height: 40%;
    margin: 2rem; 
}